:root {
  --primary_blueDark: #070439;
  --primary_blueMedium: #585989;
  --accent_blueBright: #3065f8;
  --accent_blueLight: #6b9bfe;
  --accent_cyanModerate: #3c9f8f;
  --accent_cyanLight: #7de0cc;
  --neutral_greyDark: #353538;
  --neutral_greyGradish: #f6f6fe;
  --neutral_greyLight: #bfbfbf;
  --surface: white;
}
