@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
  --textSize-small: 0.9rem;
  --textSize-regular: 1.1rem;
  --textSize-medium: 1.3rem;
  --textWeight-bold: 700;
  --fontFamilyPrimary: 'Open Sans', sans-serif;
  --fontFamilySecondary: 'Raleway', sans-serif;
}

html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--primary-blueDark);
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.2rem;}

h3 {font-size: 1.563rem;}

h4 {font-size: 1.25rem;}

h5 {font-size: 1.1rem;}

small, .text-small {font-size: var(--textSize-small); }

.textWeight-bold { font-weight: var(--textWeight-bold); }

.textColor-white{color:white;}

.fontFamilyPrimary {font-family: var(--fontFamilyPrimary);}
.fontFamilySecondary {font-family: var(--fontFamilySecondary);}
